


.ibmmono-regular{
    font-family: 'IBM plex mono' , monospace;
    font-weight: 400;
    }

.ibmmono-medium {
    font-family: 'IBM Plex Mono' , monospace;
    font-weight: 500;
    }

.ibmsans-regular{
    font-family: 'IBM Plex Sans' , sans-serif;
    font-weight: 400;
    }
    
.ibmsans-semibold{
    font-family: 'IBM Plex Sans' , sans-serif;
    font-weight: 600;
    }
    
    

